.button {
  border-radius: $border-radius;
  border: 0;
  box-shadow: $box-shadow;
  min-width: 120px;
  padding: 10px 20px;
  font-weight: bold;
  transition: all .1s ease;

  &:hover {
    cursor: pointer;
  }

  &--light {
    background: $white;
    color: $green;

    &:hover {
      background: darken($white, 5);
    }
  }

  &--dark {
    background: $green;
    color: $white;

    &:hover {
      background: lighten($green, 5);
    }
  }
}