.content-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  &__box {
    padding: 50px 25px;
    width: 660px;
    box-shadow: $box-shadow;
    background: rgba($white, 0.9);
    max-height: 100%;
    overflow: auto;

    &--intro {
      padding: 50px;
      background: rgba($green, 0.9);
      color: $white;
    }

    &--form {
      width: 750px;
    }

    &--thank-you {
      width: 500px;
    }
  }
}