.form {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-flow: row wrap;
  }

  &__input-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
  }

  &__button {
    align-self: flex-end;
    margin-right: 25px;
  }
}