.input-wrapper {
  position: relative;
  margin: 0 25px 30px 25px;

  &__label {
    width: 100%;
    margin: 10px 0 10px 0;
  }

  &__input-container {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 10px 55px 10px 15px;
    border: 1px solid black;
    border-radius: 2px;
    outline: none;
    transition: all .1s ease;
    height: 40px;

    &:focus {
      box-shadow: $box-shadow;
    }

    &::placeholder {
      font-style: italic;
    }
  }

  &__check {
    position: absolute;
    right: 10px;
    bottom: 7.5px;
    opacity: 0;
    transition: all .1s ease;

    &--visible {
      opacity: 1;
    }
  }

  &__error {
    color: $red;
    width: 100%;
    border-top: 2px solid $red;
    padding: 1px 1px;
    font-size: 13px;
  }

  &__error-intro {
    font-weight: bold;
  }
  &__error-text {
    margin-left: 5px;
  }
}