// Breakpoints
$ltablet: 1024px;
$tablet: 740px;
$stablet: 640px;
$phablet: 480px;

// Colours
$white: #FFFFFF;
$green: #3BC84C;
$red: #D9351B;

// Styling
$box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
$border-radius: 5px;