.wrapper {
  height: calc(100% - 120px);
  overflow: hidden;
  display: flex;
  z-index: 1;
  position: relative;

  &__background-image {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: 20px;
  }
}